@model HtmlService.Views.WelcomeEmailModelV2
@{
    Layout = "_Layout";
}

<p>Version 2 of this email, with breaking changes that required a new version to be created</p>
<p>@Model!.FirstName</p>
<p>@Model!.LastName</p>
<p>@Model!.Occupation</p>
